<div class="test-suite-run-header">
  <div>
    <h2><%= build.commit_message.truncate(80) %></h2>

    <h3>
      Branch: <code><%= build.branch_name %></code>
      Commit: <code><%= abbreviated_hash(build.commit_hash) %></code>
    </h3>
  </div>

  <div class="test-suite-run-action-buttons">
    <% if build.status == "Not Started" %>
      <%= button_to "Start",
        test_suite_runs_path(test_suite_run_id: build.id),
        method: :post,
        data: { turbo: false },
        class: "button" %>
    <% else %>
      <%= button_to "Rerun",
        test_suite_reruns_path(build_id: @build.id),
        method: :post,
        data: { turbo: false },
        class: "button" %>
    <% end %>

    <% if build.status == "Running" %>
      <%= button_to "Cancel",
        build_cancellations_path(build_id: @build.id),
        method: :post,
        data: { turbo: false },
        class: "button" %>
    <% end %>

    <%= button_to "Delete",
      project_build_path(id: @build.id, project_id: @build.project_id),
      method: :delete,
      data: { turbo: false },
      class: "button" %>
  </div>
</div>
