<div class="left-pane" data-controller="left-pane">
  <% if build_list.builds.any? %>
    <div class="build-count">
      <%= pluralize(build_list.builds.count, "test suite run") %>

      <%= link_to "Hide filters", "#", class: "filter-toggle-link",
        data: { action: "left-pane#hideFilters", left_pane_target: "hideFiltersLink" } %>

      <%= link_to "Filters", "#", class: "filter-toggle-link",
        data: { action: "left-pane#showFilters", left_pane_target: "showFiltersLink" } %>
    </div>

    <%= render build_filter_component %>

    <div class="build-list-wrapper">
      <div class="build-list">
        <ul data-controller="build-list" id="build-list">
          <% build_list.builds.each do |build| %>
            <%= render "test_suite_runs/test_suite_run_link",
              build: build,
              active_build: @build %>
          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
    (No test suite runs)
  <% end %>
</div>

<%= turbo_stream_from [current_user, "builds"] %>
