<div class="left-pane"
     data-controller="left-pane test-suite-run-list"
     data-test-suite-run-list-url="<%= project_builds_path(@build.project) %>">

  <% if test_suite_run_list.builds.any? %>
    <div class="test-suite-run-list-header">
      <div class="test-suite-run-count">
        <%= pluralize(test_suite_run_list.builds.count, "test suite run") %>
      </div>

      <%= link_to "Hide filters", "#", class: "filter-toggle-link",
        data: { action: "left-pane#hideFilters", left_pane_target: "hideFiltersLink" } %>

      <%= link_to "Filters", "#", class: "filter-toggle-link",
        data: { action: "left-pane#showFilters", left_pane_target: "showFiltersLink" } %>
    </div>

    <%= render build_filter_component %>

    <div class="test-suite-run-list-wrapper">
      <div data-test-suite-run-list-target="list" class="test-suite-run-list">

        <ul id="test-suite-run-list">
          <%= render partial: "test_suite_runs/list_items",
            locals: { builds: test_suite_run_list.initial_chunk_of_builds, active_build: @build } %>

          <div id="additional_test_suite_runs"></div>
        </ul>
      </div>
    </div>
  <% else %>
    (No test suite runs)
  <% end %>
</div>

<%= turbo_stream_from [@build.project, current_user, "builds"] %>
