<%= turbo_frame_tag "build", class: "test-suite-run", data: { turbo_action: "advance" } do %>
  <%= render "test_suite_runs/header", test_suite_run: %>

  <%= turbo_frame_tag "test_suite_run_body", class: "test-suite-run-body", data: { turbo_action: "advance" } do %>
    <% cache test_suite_run do %>
      <%= render "builds/menu",
        test_suite_run:,
        run: nil,
        current_tab_name: "overview",
        target_tab_name: "test_output" %>
    <% end %>

    <div class="test-suite-run-overview">
      <% if test_suite_run.finished? %>
        <%= render "test_case_runs/details", test_case_run: test_case_run %>
        <%= render "test_case_runs/list", build:, active_test_case_run: test_case_run %>
      <% else %>
        <%= render "test_suite_runs/overview_not_finished", test_suite_run: %>
      <% end %>
    </div>
  <% end %>
<% end %>
