<%= render @repository_component do |component| %>
  <%= component.with_body do %>
    <div class="project-inner">
      <%= render "settings/menu" %>
      <%= flash[:notice] %>

      <h1>General Settings</h1>

      <br>
      <b>Start builds automatically on git push</b>

      <%= form_with model: @project, url: project_settings_general_settings_path(@project), method: :patch do |form| %>
        <div>
          <%= form.radio_button :start_builds_automatically_on_git_push, true %>
          <%= form.label :start_builds_automatically_on_git_push, "Yes", value: true %>
        </div>
        <div>
          <%= form.radio_button :start_builds_automatically_on_git_push, false %>
          <%= form.label :start_builds_automatically_on_git_push, "No", value: false %>
        </div>

        <br>
        <%= form.label :concurrency %>
        <div>
          <%= form.number_field :concurrency, min: 1 %>
        </div>

        <br>
        <%= form.submit "Save", class: "button" %>
      <% end %>
    </div>
  <% end %>
<% end %>
