<%= render @repository_component do |component| %>
  <%= component.with_body do %>
    <div class="repository-inner">
      <%= render "settings/menu" %>
      <%= flash[:notice] %>

      <h1>General Settings</h1>

      <br>
      <%= form_with model: @repository, url: repository_settings_general_settings_path(@repository), method: :patch do |form| %>
        <div>
          <%= form.check_box :start_test_suite_runs_automatically_on_git_push %>
          <%= form.label :start_test_suite_runs_automatically_on_git_push, "Start test suite runs automatically on git push" %>
        </div>

        <br>
        <div>
          <%= form.check_box :create_github_check_runs_on_pull_requests %>
          <%= form.label :create_github_check_runs_on_pull_requests, "Create GitHub check runs on pull requests" %>
        </div>

        <br>
        <%= form.label :concurrency %>
        <div>
          <%= form.number_field :concurrency, min: 1 %>
        </div>

        <br>
        <%= form.submit "Save", class: "button" %>
      <% end %>
    </div>
  <% end %>
<% end %>
