<%= form_tag(build_path(@build, @current_tab_name), method: :get, class: "build-filter-form") do %>
  <div>
    <%= select_tag "branch_name",
      options_for_select(branch_names, @branch_name),
      prompt: "Branch" %>
  </div>

  <div class="build-filter-form-status">
    Build status:
    <div class="build-filter-form-checkboxes">
      <% statuses.each do |status| %>
        <%= label_tag "status_#{status.parameterize}", status, class: "build-filter-form-checkbox-label" do %>
          <%= check_box_tag "statuses[]", status, checked?(status), id: "status_#{status.parameterize}" %>
          <%= status %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="flex">
    <%= submit_tag "Apply" %>
    <%= submit_tag "Clear", name: "clear" %>
  </div>
<% end %>
