<div class="project <%= @extra_css_classes %>">
  <header class="project-header">
    <h2><%= link_to @project.name, project_path(@project) %></h2>
    <ul class="project-menu">
      <li>
        <%= link_to "Settings", project_settings_general_settings_path(@project) %>
      </li>
      <li>
        <%= link_to "Diagnostics", project_diagnostics_path(@project) %>
      </li>
    </ul>
  </header>

  <%= body %>
</div>
