<div class="left-pane"
     data-controller="left-pane test-suite-run-list"
     data-test-suite-run-list-url="<%= repository_builds_path(repository_id: test_suite_run.repository_id) %>">

  <% if test_suite_runs.any? %>
    <div class="test-suite-run-list-header">
      <div class="test-suite-run-count">
        <%= pluralize(test_suite_runs.count, "test suite run") %>
      </div>

      <%= link_to "Hide filters", "#", class: "filter-toggle-link",
        data: { action: "left-pane#hideFilters", left_pane_target: "hideFiltersLink" } %>

      <%= link_to "Filters", "#", class: "filter-toggle-link",
        data: { action: "left-pane#showFilters", left_pane_target: "showFiltersLink" } %>
    </div>

    <%= render test_suite_run_filter_component %>

    <div class="test-suite-run-list-wrapper">
      <div data-test-suite-run-list-target="list" class="test-suite-run-list">

        <ul id="test-suite-run-list">
          <%= render partial: "test_suite_runs/list_items",
            locals: { builds: initial_chunk_of_test_suite_runs, active_build: test_suite_run } %>

          <div id="additional_test_suite_runs"></div>
        </ul>
      </div>
    </div>
  <% else %>
    (No test suite runs)
  <% end %>
</div>

<%= helpers.turbo_stream_from [test_suite_run.repository, helpers.current_user, "test_suite_runs"] %>
