<%= turbo_frame_tag "build", class: "build", data: { turbo_action: "advance" } do %>
  <%= render "builds/header", build: build do %>
    <%= button_to "Run", rebuilds_path(build_id: build.id), method: :post, data: { turbo: false } %>
    <%= button_to "Delete", project_build_path(id: build.id, project_id: build.project_id), method: :delete, data: { turbo: false } %>
  <% end %>

  <%= turbo_frame_tag "build_body", class: "build-body", data: { turbo_action: "advance" } do %>
    <%= render "builds/menu",
      build: build,
      run: nil,
      current_tab_name: "overview",
      target_tab_name: "test_output" %>

    <% if build.finished? %>
      <div class="build-overview-wrapper">
        <div class="test-case-run-list">
          <%= render "builds/test_case_run_list", build: %>
        </div>

        <%= turbo_frame_tag "test_case_run_details", class: "test-case-run-details", data: { turbo_action: "advance" } do %>
        <% end %>
      </div>
    <% else %>
      Waiting for test suite to finish...
    <% end %>
  <% end %>
<% end %>
