<ul class="run-menu tab-menu">
  <% build.runs.sorted.each do |run| %>
    <li>
      <%= link_to run.name,
        run_path(run, current_tab_name),
        class: run == @run ? "active" : "" %>
    </li>
  <% end %>
</ul>

<ul class="build-menu tab-menu">
  <% build_navigation(@run, current_tab_name) do |nav| %>
    <%= nav.item "Test Output", "test_output" %>
    <%= nav.item "System Logs", "system_logs" %>
    <%= nav.item "Test Report", "test_report" %>
    <%= nav.item "Events", "events" %>
  <% end %>
</ul>

<div class="run-details">
  <div id="<%= run_output_stream.target %>">
    <%= render current_tab_name, current_tab_name: current_tab_name, run: @run %>
  </div>
</div>

<%= turbo_stream_from run_output_stream.name %>
