<div class="left-pane" data-controller="left-pane">
  <% if build_list.builds.any? %>
    <%= render build_filter_component %>

    <div class="build-count">
      <%= pluralize(build_list.builds.count, "build") %>

      <%= link_to "Hide filters",
        "#",
        data: { action: "left-pane#hideFilters", left_pane_target: "hideFiltersLink" } %>
    </div>

    <div class="build-list-wrapper">
      <div class="build-list">
        <ul data-controller="build-list" id="build-list">
          <% build_list.builds.each do |build| %>
            <%= render "builds/build_link",
              build: build,
              active_build: @build %>
          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
    (No builds)
  <% end %>
</div>

<%= turbo_stream_from [current_user, "builds"] %>
