<%= turbo_frame_tag "build", class: "build", data: { turbo_action: "advance" } do %>
  <%= render "builds/header", build: build do %>
    <%= button_to "Run", rebuilds_path(build_id: build.id), method: :post, data: { turbo: false } %>
    <%= button_to "Delete", project_build_path(id: build.id, project_id: build.project_id), method: :delete, data: { turbo: false } %>
  <% end %>

  <%= turbo_frame_tag "build_body", class: "build-body", data: { turbo_action: "advance" } do %>
    <% cache build do %>
      <%= render "builds/menu",
        build: build,
        run: nil,
        current_tab_name: "overview",
        target_tab_name: "test_output" %>
    <% end %>

    <div class="build-overview">
      <% if build.finished? %>
        <%= render "test_case_runs/details", test_case_run: test_case_run %>
        <%= render "test_case_runs/list", build:, active_test_case_run: test_case_run %>
      <% else %>
        <%= render "builds/overview_not_finished", build: %>
      <% end %>
    </div>
  <% end %>
<% end %>
