<h2><%= @project %></h2>

<%= render(@billing_navigation_component) %>

<table border>
  <tr>
    <th>Datetime</th>
    <th>Duration (seconds)</th>
    <th>Charge</th>
  </tr>

  <% @runs.each do |run| %>
    <tr>
      <td><%= run.created_at %></td>
      <td class="number"><%= run.charge.run_duration %></td>
      <td class="number"><%= number_to_currency(run.charge.amount) %></td>
    </tr>
  <% end %>

  <tr>
    <td colspan="2">Total</td>

    <td class="number">
      <%= number_to_currency(@runs.map(&:charge).map(&:amount_cents).compact.sum / 100.0) %>
    </td>
  </tr>
</table>
