<%= turbo_frame_tag "test_case_run_details", class: "test-case-run-details test-suite-run-overview-details", data: { turbo_action: "advance" } do %>
  <% if test_case_run.present? %>
    <% cache do %>
      <div class="test-case-run">
        <header>
          <h2 class="font-fixed">
            <%= test_case_run.tidy_path %>:<%= test_case_run.line_number %>
          </h2>

          <h3>
            <%= test_case_run.description %>
          </h3>
        </header>

        <% if test_case_run.exception.present? %>
          <div class="code-section">
            <h3>Error message</h3>
            <div class="code text-red">
              <%= test_case_run.exception_message.gsub("\n", "<br>").html_safe %>
            </div>
          </div>

          <% if test_case_run.exception_backtrace.present? %>
            <div class="code-section">
              <h3>Backtrace</h3>
              <div class="code text-white">
                <%= test_case_run.exception_backtrace.to_s.gsub("\n", "<br>").html_safe %>
              </div>
            </div>
          <% end %>
        <% else %>
          <br>
          Duration: <%= number_with_precision(test_case_run.duration, precision: 2) %> seconds
        <% end %>

        <% if test_case_run.test_failure_screenshots.any? %>
          <div class="code-section">
            <h3>Screenshot</h3>
            <% test_case_run.test_failure_screenshots.each do |screenshot| %>
              <a href="<%= screenshot.url %>" target="_blank">
                <img src="<%= screenshot.url %>" class="test-failure-screenshot">
              </a>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
