<div>
  <%= @test_case_run.path %>:<%= @test_case_run.line_number %>
</div>

<div>
  <%= @test_case_run.description %>
</div>

<div>
  <%= @test_case_run.status %>
</div>

<div>
  <%= @test_case_run.identifier %>
</div>

