<%= turbo_frame_tag "test_case_run_details" do %>
  <div class="test-case-run">
    <% if @test_case_run.exception.present? %>
      <div>
        <%= @test_case_run.path %>:<%= @test_case_run.line_number %>
      </div>

      <br>

      <div>
        <%= @test_case_run.description %>
      </div>

      <br>

      <div class="text-red">
        <%= @test_case_run.exception_message.gsub("\n", "<br>").html_safe %>
      </div>

      <br>

      <div>
        <%= @test_case_run.exception_backtrace.gsub("\n", "<br>").html_safe %>
      </div>
    <% else %>
      <div>
        <%= @test_case_run.status %> in <%= @test_case_run.duration %> seconds
      </div>

      <div>
        <%= @test_case_run.path %>:<%= @test_case_run.line_number %>
      </div>

      <div>
        <%= @test_case_run.identifier %>
      </div>
    <% end %>
  </div>
<% end %>
