<div class="container">
  <h2>Worker Assignments (<%= @worker_assignments.count %>)</h2>

  <table border>
    <tr>
      <th>Created</th>
      <th>Worker ID</th>
      <th>Worker Name</th>
      <th>Run ID</th>
      <th>Repository</th>
      <th>Commit Message</th>
    </tr>
    <% @worker_assignments.each do |assignment| %>
      <tr>
        <td>
          <%= l(assignment.created_at.in_time_zone(Rails.application.config.admin_time_zone)) %>
        </td>
        <td><%= assignment.worker_id %></td>
        <td><%= assignment.worker.name %></td>
        <td><%= assignment.run_id %></td>
        <td><%= assignment.run.repository.name %></td>
        <td><%= assignment.run.test_suite_run.commit_message %></td>
      </tr>
    <% end %>
  </table>
</div>
