<%= turbo_frame_tag "build", class: "test-suite-run", data: { turbo_action: "advance" } do %>
  <%= render "test_suite_runs/header", build: @build %>

  <%= turbo_frame_tag "test_suite_run_body", class: "test-suite-run-body", data: { turbo_action: "advance" } do %>
    <%= render "builds/menu",
      build: @build,
      run: @run,
      current_tab_name: current_tab_name,
      target_tab_name: current_tab_name %>

    <ul class="run-menu-secondary tab-menu thick-black-bottom-border">
      <% test_suite_run_navigation(@run, current_tab_name) do |nav| %>
        <%= nav.item "Test Output", "test_output" %>
        <%= nav.item "System Logs", "system_logs" %>
        <%= nav.item "Events", "events" %>
      <% end %>
    </ul>

    <div class="run-details">
      <div id="<%= run_output_stream.target %>">
        <%= render current_tab_name, current_tab_name: current_tab_name, run: @run %>
      </div>
    </div>

    <%= turbo_stream_from run_output_stream.name %>
  <% end %>
<% end %>
