<h2>Users (<%= @users.count %>)</h2>

<table border>
  <tr>
    <th>Created</th>
    <th>Name</th>
    <th>Email</th>
    <th>Projects</th>
    <th>Runs</th>
    <th>Most recent run</th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= l(user.created_at.in_time_zone(Rails.application.config.admin_time_zone)) %>
      </td>

      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td class="number"><%= user.projects.count %></td>
      <td class="number"><%= user.runs.finished.count %></td>

      <td>
        <%= l(user.runs.finished.order("created_at desc").first&.created_at.in_time_zone(Rails.application.config.admin_time_zone)) %>
      </td>

      <td>
        <%= link_to "Become",
          admin_user_impersonations_path(user_id: user.id),
          data: { turbo_method: :post } %>
      </td>
    </tr>
  <% end %>
</table>
