<h1>GitHub Accounts</h1>
<br>

<%= link_to "Add Account", ENV["SATURNCI_INSTALLATION_URL"] %>
<br>

<% if @saturn_installations.any? %>
  <% @saturn_installations.each do |saturn_installation| %>
    <div class="saturnci-github-app-installation">
      <h2><%= saturn_installation.account_name %></h2>
      <div>Created: <%= I18n.l(saturn_installation.created_at) %> UTC</div>

      <div>
        GitHub installation ID:
        <%= link_to saturn_installation.github_installation_id, saturn_installation.github_app_installation_url, target: "_blank" %>
      </div>

      <div>
        <%= link_to "Remove Account",
          saturn_installation_path(saturn_installation),
          data: { turbo_method: :delete } %>
      </div>

      <br>

      <div>
        Projects:
        <ul>
          <% saturn_installation.projects.each do |project| %>
            <li><%= link_to project, project %></li>
          <% end %>
        </ul>

        <div>
          <%= link_to "Add Project",
            new_saturn_installation_project_integration_path(saturn_installation) %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  (No installations)
<% end %>
